.play_history_container {
    -fx-background-color: #BDBDBD;
}

.play_history_content_container {
    -fx-background-color: #6A9F79;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.play_history_content_container Text {
    -fx-font-family: "Fredoka";
    -fx-font-size: 40px;
    -fx-fill: #FFFFFF;
}

.play_history_content_title_container {
    -fx-alignment: center;
}

.play_history_content_title_container Text {
    -fx-font-family: "Fredoka";
    -fx-font-size: 20px;
    -fx-fill: #1C3D19;
}

.play_history_list_view_container {
    -fx-background-color: #96B49B;
    -fx-background-radius: 10;
}

.play_history_content_textfield_container {
    -fx-alignment: center;
}

.input_field {
    -fx-background-color: #BDBDBD;
    -fx-pref-width: 192px;
    -fx-pref-height: 58px;
    -fx-font-family: "Fredoka";
    -fx-font-size: 32px;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: center;
}

.play_history_content_button_container {
    -fx-alignment: center;
}

.play_history_content_button_container Button {
    -fx-background-color: #B6D3B1;
    -fx-pref-width: 191px;
    -fx-pref-height: 53px;
    -fx-font-family: "Fredoka";
    -fx-font-size: 24px;
}

.play_history_content_button_container Button:hover {
    -fx-cursor: hand;
}

.play_history_warning_container {
    -fx-alignment: center;
}

.play_history_warning_container Text {
    -fx-font-family: "Fredoka";
    -fx-font-size: 14px;
    -fx-fill: #CA0000;
}